rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas simples MVP temporal: Permitir acceso autenticado a usuarios internos y control cruzado con companyId para usuarios clientes
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
